body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", arial, sans-serif;
  overflow: hidden;
}

h2 {
  padding: 0;
  margin: 0;
  text-align: center;
}

#applet_container {
  display: flex;
  justify-content: space-between;
  padding: 1%;
  border: 5px solid grey;
}

#transition_selection ul {
  margin: 0;
  margin-left: 10%;
  list-style-type: none;
  padding: 0;
  font-size: 1.1em;
}

#transition_selection {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
}

#transition_selection legend {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
}

#side_container {
  flex: 0 0 29%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#canvas_container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#container_wrapper {
  position: relative;
  flex: 0 0 70%;
  padding-top: 52.5%;
  background-color: white;
  box-sizing: border-box;
}

#text_box {
  flex: 0 0 40%;
  padding: 10px;
  word-wrap: break-word;
  background-color: white;
  border: 4px solid red;
  overflow: hidden;
  font-size: 1.6vw;
}

#text_box i {
  padding-left: 2px;
  padding-right: 2px;
}

h3 {
  padding: 0;
  text-align: center;
  margin: 0;
}

#text_box p {
  margin-bottom: 0;
  text-align: center;
}

#menu_container {
  display: flex;
  flex: 1 0;
  margin-top: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.fluor-phos-toggle {
  display: block;
  width: 90%;
  margin: 10px auto;
}

.menu-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(9, 42, 107);
  border: none;
  color: white;
  font-family: "Open Sans", arial, sans-serif;
  font-size: 2vw;
  height: 2em;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.menu-buttons:hover {
  background-color: rgb(108, 153, 242);
  cursor: pointer;
}

.is-active {
  background-color: rgb(108, 153, 242);
}

#control-menu {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#control-menu button {
  flex: 0 0 20%;
  font-size: 2vw;
}
